.card-gallery {
    min-height: 500px;
    background-color: rgba(223, 223, 223, 0.212);
    border-radius: 25px;
    margin-bottom: 50px;
    padding: 50px;
    
}
.card-gallery ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}