nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    margin-bottom: 50px;
}

nav ul {
    display: flex;
}

nav ul li a {
    font-family: 'Inter', sans-serif;
    color: #FF6060;
    font-size: 30px;
    margin-left: 60px;
}

.kasa-logo-letters {
    font-family: 'Inter', sans-serif;
    color: #FF6060;
    font-size: 70px;
}